
<div class="container">
  <div class="row">
    <div class=".col-xs-12 col-md-12">
      <h1>TESTER</h1>
      <h1>Snaskit</h1>
      <h5>A Smart Application Conntecting Snacks to Students</h5>
      <p>{{mainCtrl.greeting}}</p>
    </div>
  </div>

  <div class="row">
    <div class=".col-xs-12 .col-md-12">
      <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW">
        <input id="submit" type="button" value="Geocode">
      </div>
      <div id="map_div"></div>
    </div>
  </div>
</div>
